a {
    color: #FFFFFF;
    font-family: sans-serif;
}

h2 a:hover {
    color: #DAAD86;
    text-decoration: none;
}

body {
    padding-left : 10px;
    background-color: #659DBD;
    color: #FFFFFF;
}

.page-header {
    background-color: #8D8741;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active, .page-header h1 a:hover {
    color: #FBEEC1;
    font-size: 36pt;
    text-decoration: none;
}

a.nav-link {
    color: #FBEEC1;
    font-size: 200%;
}

a.nav-separator {
    color: #FBEEC1;
    font-size: 200%;
}

a.nav-link:hover {
    color: #DAAD86;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.post {
margin-bottom: 70px;
}

p {
    font-size: 120%;
}

li {
    font-size: 120%;
}

.chessimage {
    height: 50%;
    width: 50%;
}
        